* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: #c9c9c9;
  overflow: hidden;
}
/* header style */
header {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 0px 20px;
}
header nav {
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
}
header nav #contact_page {
  background-color: #fff5;
}
header a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 12px 6px;
  text-align: center;
}
header a:hover {
  background-color: #fff5;
}
/* container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: calc(100vh - 42px);
}
.container h1 {
  color: #333;
  font-size: 35px;
}
.container form {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 10px 5px rgb(0 0 0 / 20%);
  border-radius: 25px;
  height: 350px;
  width: 500px;
  padding: 20px 20px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.container form input {
  padding: 10px 15px;
  border: 0;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #c9c9c9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container form textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 60px;
  padding: 10px 15px;
  border: 0;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #c9c9c9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container form button {
  margin-top: 12px;
  align-self: center;
  width: 230px;
  padding: 5px 0px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 2px #c9c9c9a2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -ms-transition: ease 0.5s;
  -o-transition: ease 0.5s;
}
.container form button:hover {
  margin-left: 10px;
  padding: 5px 7px;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 20%);
}
